* {
	padding: 0;
	margin: 0;
}
img{
	max-width: 100%;
}
.header-wrap {
	background-color: #6699FF;
}
.header__headline {
	font-size: 	16px;
}	
li {
	list-style: none;
}
#top{
	font-size: 15px;
}
img{
	margin: 5px 0;
}
header,
.link-list,
nav,
form,
footer {
	background-color: #99CCFF;
	font-size: 16px;
}
form h3{
	font-size: 15px;
}
td, th {
	padding: 5px;
	font-size: 10px;
}
tr:nth-child(even) {
	background-color: #6699FF;
}
tr:nth-child(odd) {
	background-color: skyblue;
}
table {
	margin: 0 auto;
	max-width: 700px;
	text-align: center;
	border: 1px solid black;
	border-collapse: collapse;
}
form{
	width: 100%;
}

@media(min-width: 768px){
	.header__headline {
		font-size: 	28px;
	}	
	#top{
		font-size: 20px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 20px;
	}
	form h3{
		font-size: 20px;
	}
	td, th {
		font-size: 18px;
	}
}
@media(min-width: 1024px){
	.header__headline {
		font-size: 	34px;
	}	
	#top{
		font-size: 24px;
	}
	header,
	.link-list,
	nav,
	form,
	footer {
		font-size: 22px;
	}
	form h3{
		font-size: 22px;
	}
	td, th {
		font-size: 20px;
	}
	input[type="submit"] {
		font-size: 16px;
		border: 3px solid #6699FF;
		padding: 5px 25px;	
		border-radius: 18px;
	}
	input[type="checkbox"] {
		display: inline-block;
		width: 20px;
		height: 20px;
	}
	input[type="text"]{
		border: 2px solid #6699FF;
		font-size: 22px;
	}
	input[type="email"]{
		border: 2px solid #6699FF;
		font-size: 22px;
	}
	input[type="date"]{
		border: 2px solid #6699FF;
		font-size: 22px;
	}
	select[name="field1"]{
		border: 2px solid #6699FF;
		font-size: 22px;
	}
}
